{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('styles/app.scss') }}">
	{{ parent() }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>

		function toggleMenu() {
nav.classList.toggle('active');
menuIcon.classList.toggle('active');
listItems.forEach((listItem) => {
listItem.classList.toggle('active');
});
}

function hideMenu() {
nav.classList.remove('active');
menuIcon.classList.remove('active');
listItems.forEach((listItem) => {
listItem.classList.remove('active');
});
}
	</script>
{% endblock %}

{% block body %}
	{% block navbar %}{% endblock %}
	<nav class="nav-wrapper">
		<div class="nav-left">
			<img src="{{ asset('uploads/pictures/logo.png')}}" height="50px" width="50px"/>
		</div>
		<div class="nav-right">
			<div class="menu-icon" onclick="toggleMenu()">
				<div class="bar1"></div>
				<div class="bar2"></div>
				<div class="bar3"></div>
			</div>
		</div>
		<div id="nav">
			<div class="strip"></div>
			<div class="strip"></div>
			<div class="strip"></div>
			<div class="strip"></div>
			<div class="strip"></div>
			<div class="strip"></div>
			<ul>
				<li>
					<a href="{{ path('app_about') }}" onclick="hideMenu()">About</a>
				</li>
				<li>
					<a href="{{ path('app_services') }}" onclick="hideMenu()">Pricing</a>
				</li>
				<li>
					<a href="{{ path('app_contact') }}" onclick="hideMenu()">Contact</a>
				</li>
				{% if is_granted('IS_AUTHENTICATED_FULLY') %}
					<li>
						<a href="{{ path('app_logout') }}" onclick="hideMenu()">Logout</a>
					</li>
					{% if is_granted('ROLE_ADMIN') %}
						<li>
							<a href="{{ path('admin') }}" onclick="hideMenu()">Dashboard</a>
						</li>
					{% endif %}
				{% else %}
					<li>
						<a href="{{ path('app_register') }}" onclick="hideMenu()">Register</a>
					</li>
					<li>
						<a href="{{ path('app_login') }}" onclick="hideMenu()">Login</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</nav>
	<main>
		<section
			id="home">
			<!-- Video -->
			<div class="video-container">
				<video autoplay loop muted>
					<source src="{{ asset('uploads/morning_bg.mp4') }}">
				</video>
			</div>
			<!-- Overlay -->
			<div class="overlay">
				<div>
					<h1>Your Morning Routine Planner</h1>
					<p>Get your routine activities organized to improve your quality of Life</p>
				</div>
			</div>
		</section>
	</main>
{% endblock %}
{% block footer %}{% endblock %}
