{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('styles/app.scss') }}">
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/home.js') }}"></script>
{% endblock %}

{% block navbar %}
	<nav class="nav-wrapper">
		<div class="nav-left">
			<img src="{{ asset('uploads/pictures/logo.png')}}" height="50px" width="50px">
		</div>
		<div class="nav-right">
			<div class="menu-icon" onclick="toggleMenu()">
				<div class="bar1"></div>
				<div class="bar2"></div>
				<div class="bar3"></div>
			</div>
		</div>
		<div id="nav">
			<div class="strip"></div>
			<div class="strip"></div>
			<div class="strip"></div>
			<div class="strip"></div>
			<div class="strip"></div>
			<div class="strip"></div>
			<ul>
				<li><a href="{{path('app_home') }}" onclick="hideMenu()">Home</a></li>
				<li><a href="{{ path('app_about') }}" onclick="hideMenu()">About</a></li>
				<li><a href="{{ path('app_services') }}" onclick="hideMenu()">Pricing</a></li>
				<li><a href="{{ path('app_contact') }}" onclick="hideMenu()">Contact</a></li>
				{% if is_granted('IS_AUTHENTICATED_FULLY') %}
				<li><a href="{{ path('app_logout') }}" onclick="hideMenu()">Logout</a></li>
				{% if is_granted('ROLE_ADMIN') %}
				<li><a href="{{ path('admin') }}" onclick="hideMenu()">Dashboard</a></li>
				{% endif %}
				{% else %}
				<li><a href="{{ path('app_register') }}" onclick="hideMenu()">Register</a></li>
				<li><a href="{{ path('app_login') }}" onclick="hideMenu()">Login</a></li>
				{% endif %}
			</ul>
		</div>
	</nav>
{% endblock %}
